.form-control {
    color: #00ab25;
}
.modal-fueraPlazo {
    width: 100%;
}
.tt-h5 {
    text-align: center;
}

.tbl-registroLlamadas {
    min-width: 1274px;
}

.modal-dialog {
    max-width: 800px;
}
